    h2 {
        text-align: center;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    div .card-deck {
        background-color: rgb(226, 248, 207);
        padding: 30px;
    }
    
    div .card {
        background-color: rgb(198, 235, 164);
        text-align: center;
    }
    
    div .card-footer {
        background-color: rgb(159, 192, 127);
    }
    
    div small {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }