h4 {
    color: #94dff0;
    text-shadow: rgb(145, 228, 228) 2px 2px 4px;
    text-align: center;
}

div #titulo {
    background-color: rgb(103, 168, 194);
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div #tiposCurso div {
    background-color: #9dceda;
    border: #b5dae4 3px solid;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div #cursos div:not(#vainilla) {
    background-color: #d4edf3;
    border: #b5dae4 3px solid;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#vainilla {
    background-color: rgb(110, 196, 196);
    border: #b5dae4 3px solid;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div #alert {
    text-align: center;
    font-size: 20px;
}